@import url('https://fonts.googleapis.com/css2?family= Poppins :wght@100;200;300;400;500 & display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    letter-spacing: 1.2px;
    text-decoration: none;
}

:root {
    --color-neutral-0: #0e0c0c;
    --color-neutral-10: #171717;
    --color-neutral-30: #a8a29e;
    --color-neutral-40: #f5f5f5;
}
#Mais_vendidos
{
    background-color: whitesmoke;
}
header {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-neutral-10);
    box-shadow: 0 0 1rem black;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 40;
    height: 5rem;
    align-items: center;
}

main {
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.logo img {
    width: 5rem;
    margin-left: 5rem;
    margin-top: 1.5rem;
}

.header ul {
    display: flex;
    margin: 3rem;
}

.header li {
    list-style: none;
    color: var(--color-neutral-40);
    cursor: pointer;
    padding-left: 2rem;
    text-align: center;
    font-size: 1.3rem;
}

.header a {
    text-decoration: none;
}


section
{
    padding: 3rem;
    text-align: center;
}
.produtos
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.produto
{
    background-color: white;
    border-radius: 15px;
    padding: 1rem;
}
.efeito-img
{
    width: 15rem;
    height: 10rem;
    overflow: hidden;
	border-radius:10px ;
}
.img-zoom 
{
    width: 100%;
    height: 100%;
}
.img-zoom
{
	width: 100%;
    height: 100%;
    transition: all 0.3s linear;

}
.produto:hover > .efeito-img img
{
	scale: 1.1;
}
.especificacao
{
    padding: 2rem 0 1rem 0;

}
.especificado
{
    display: flex;
    align-items: center;
    gap:1.7rem;
    padding: 0.5rem;
}
.especificado img
{
    width: 2rem;

}
.produto button
{
    border: none;
    background: #ff2323;
    width: 100%;
    border-radius: 6px;
    padding: 1rem;
    cursor: pointer;
}
section#sobre
{
    width: 100%;
   background-image: url(imgs/cover-1496629821399964.png);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   display: grid;
    place-items: center;
}
.conteudo_sobre
{
    text-align: start;
    display: grid;
    gap: 2rem;
    background-color: #272424;
    padding: 3rem;
    color: white;
    border-radius: 15px;
    width: 43rem;
}
.sobrep1
{
    display: grid;
    gap:1rem;
}
.sobrep1 h3
{
    font-size: 2rem;
    color: #ff2323;
}
.container_cards
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    position: relative;
    transition: transform all 0.5s ease-in-out;
}
.card 
{
    width: 15rem;
    position: relative;
    cursor: pointer;
}
.face.face1
{
    width: 15rem;
    height: 20rem;
    background-color: #782c2c78;
    padding: 2rem;
    border-radius: 20px;
    display: grid;
    place-content: center;
    overflow: hidden;
    position: relative;
    z-index: 1;
    transform: translateY(10rem);
    transition: all 0.5s ease;
}
.face.face2
{
    background-color: whitesmoke;
    padding: 2rem;
    border-radius: 5px;
    display: grid;
    place-content: center;
    transform: translateY(-10rem);
    opacity: 0;
    transition: all 0.5s ease;
}
.container_cards .card:hover > .face.face1
{
    background-color: #ff2323;
    transform: translateY(5rem);
}
.card:hover > .face.face2
{
    transform: translateY(4rem);
    opacity: 1;
}

 .container{
    max-width: 1200px;
    margin:0 auto;
    padding:3rem 2rem;
 }
 
 .container .title{
    font-size: 3.5rem;
    color:#ff2323;
    margin-bottom: 3rem;
    text-transform: uppercase;
    text-align: center;
 }
 
 .container .products-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    gap: 2rem;
 }
 
 .container .products-container .product{
    text-align: center;
    padding:3rem 2rem;
    background: #fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    outline: .1rem solid #ccc;
    outline-offset: -1.5rem;
    cursor: pointer;
 }
 
 .container .products-container .product:hover{
    outline: .2rem solid #222;
    outline-offset: 0;
 }
 
 .container .products-container .product img{
    height: 15rem;
 }
 
 .container .products-container .product:hover img{
    transform: scale(.9);
 }
 
 .container .products-container .product h3{
    padding:.5rem 0;
    font-size: 2rem;
    color:#444;
 }
 
 .container .products-container .product:hover h3{
    color:#ff2323;
 }
 
 .container .products-container .product .price{
    font-size: 2rem;
    color:#ff2323;
 }
 
 .products-preview{
    position: fixed;
    top:-14rem; left:0;
    min-height: 100vh;
    width:100%;
    height: 90rem;
    background: rgba(0,0,0,.8);
    display: none;
    align-items: center;
    justify-content: center;
 }
 
 .products-preview .preview{
    display: none;
    padding:2rem;
    text-align: center;
    background: #fff;
    position: relative;
    margin:2rem;
    width: 30rem;
 }
 
 .products-preview .preview.active{
    display: inline-block;
 }
 
 .products-preview .preview img{
    height: 15rem;
 }
 
 .products-preview .preview .fa-times{
    position: absolute;
    top:1rem; right:1.5rem;
    cursor: pointer;
    color:#ff2323;
    font-size: 3rem;
    transition: 0.5s;
 }
 
 .products-preview .preview .fa-times:hover{
    transform: rotate(90deg);
 }
 
 .products-preview .preview h3{
    color:#444;
    padding:.5rem 0;
    font-size: 2.5rem;
 }
 
 .products-preview .preview .stars{
    padding:1rem 0;
    font-size: 1.7rem;
 }
 
 .products-preview .preview .stars i{
    color:#27ae60;
 }
 
 .products-preview .preview .stars span{
    color:#999;
 }
 
 .products-preview .preview p{
    line-height: 1.5;
    padding:1rem 0;
    font-size: 1.6rem;
    color:#777;
 }
 
 .products-preview .preview .price{
    padding:1rem 0;
    font-size: 2.5rem;
    color:#ff2323;
 }
 
 .products-preview .preview .buttons{
    display: flex;
    gap:1.5rem;
    flex-wrap: wrap;
    margin-top: 1rem;
 }
 
 .products-preview .preview .buttons a{
    flex:1 1 16rem;
    padding:1rem;
    font-size: 1.8rem;
    color:#444;
    border:.1rem solid #444;
 }
 
 .products-preview .preview .buttons a.cart{
    background: #444;
    color:#fff;
 }
 
 .products-preview .preview .buttons a.cart:hover{
    background: #111;
 }
 
 .products-preview .preview .buttons a.buy:hover{
    background: #444;
    color:#fff;
 }
 
 
/* INICIO DO SLIDE*/

section#slider
{
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0 !important;
    overflow: hidden;
}
.slider-content
{
    width: 400%;
    height: auto;
    display: flex;
}
 [type=radio], .img-mobile
{
    display: none;
}
.slide-box
{
    width:25% ;
    height: auto;
    position: relative;
    text-align: center;
    transition: 1s;
}
.slide-box img
{
    width:100%;
    height: 30rem;
}
.nav-manual, .nav-auto 
{
    position:absolute;
    width: 100%;
    top: 28rem;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.nav-manual .manual-btn, .nav-auto div
{
    border: 1px solid  #ff2323;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s;
}

.manual-btn:hover
{
    background-color: #ff2323;
}

#radio1:checked ~ .nav-auto .auto-btn1,#radio2:checked ~ .nav-auto .auto-btn2,#radio3:checked ~ .nav-auto .auto-btn3
{
    background-color: #ff2323;
}
#radio1:checked ~ .primeiro
{
    margin-left: 0%;
}
#radio2:checked ~ .primeiro
{
    margin-left: -25%;
}
#radio3:checked ~ .primeiro
{
    margin-left: -50%;
}
footer 
{
    background-color: var(--color-neutral-10);
    padding: 50px 0;
}

iframe {
    height: 300px;
}

.container-footer {
    max-width: 1400px;
    margin: auto;
}

.row-footer {
    display: flex;
    flex-wrap: wrap;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 22px;
    color: var(--color-neutral-30);
    margin-bottom: 20px;
    position: relative;
    text-transform: uppercase;
    text-align: center;
}

.footer-col ul {
    list-style: none;
    display: grid;
}

.footer-col ul li {
    margin: 10px 0;
}

.footer-col ul a li {
    font-size: 16px;
    color: var(--color-neutral-40);
    font-weight: bold;
    text-decoration: none;
    transition: all .3s ease;
}

.footer-col ul a li:hover {
    color: var(--color-neutral-30);
    padding-left: 10px;
}

.footer-col ul a li i {
    font-size: 1.5rem;
}

.medias-sociais {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.medias-sociais a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-decoration: none;
    border-radius: 50%;
    color: var(--color-neutral-40);
    border: 1px solid var(--color-neutral-40);
    transition: all .5 ease;
}

.medias-sociais a i {
    font-size: 20px;
}

.medias-sociais a:hover {
    background-color: var(--color-neutral-30);
}

.footer-col .form-sub input {
    width: 100%;
    padding: 10px;
    font-size: 15px;
    outline: none;
    border: 1px solid var(--color-neutral-30);
    color: var(--color-neutral-0);
    background-color: var(--color-neutral-40);
    font-weight: 500;
}

.footer-col .form-sub input::placeholder {
    color: var(--color-neutral-10);
}

.footer-col .form-sub input[type=reset] {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    font-size: 17px;
    outline: none;
    border: none;
    cursor: pointer;
    color: var(--color-neutral-40);
    border-radius: 3px;
    font-weight: bold;
    background-color: var(--color-neutral-30);
}

hr {
    border-color: var(--color-neutral-30);
}

#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: var(--color-neutral-10);
    font-size: 0.9rem;
    padding: 1rem;
    font-weight: 100;
    margin-top: 1.5rem;
}

#footer_copyright .footer-link {
    margin: 5rem;
    text-decoration: none;
    color: var(--color-neutral-40);
}

@media (max-width: 800px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
        display: inline-grid;
        align-items: center;
        justify-content: center;
    }
    .conteudo_sobre
    {
       width: auto;
    }
}

@media (max-width: 600px) {
    .footer-col {
        width: 100%;
    }
}   

