
@import url('https://fonts.googleapis.com/css2?family= Poppins :wght@100;200;300;400;500 & display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    letter-spacing: 1.2px;
    text-decoration: none;
}

:root {
    --color-neutral-0: #0e0c0c;
    --color-neutral-10: #171717;
    --color-neutral-30: #a8a29e;
    --color-neutral-40: #f5f5f5;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-neutral-10);
    box-shadow: 0 0 1rem black;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 40;
}

main {
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.logo img {
    width: 5rem;
    margin-left: 5rem;
    margin-top: 1.5rem;
}

.header ul {
    display: flex;
    margin: 3rem;
}

.header li {
    list-style: none;
    color: var(--color-neutral-40);
    cursor: pointer;
    padding-left: 2rem;
    text-align: center;
    font-size: 2rem;
}

.header a {
    text-decoration: none;
}

.products {
    display: flex;
}

.card {
    margin: 2em auto;
    width: min-content;
    text-align: center;
    border-radius: .5em;
    padding: 1em 1.5em;
    box-shadow: 1px 1px 10px var(--color-neutral-0);
}

.card .price {
    font-weight: bold;
    font-size: 20px;
}

.card .description {
    font-size: 14px;
    color: var(--color-neutral-0);
}

.card img {
    width: 200px;
}

.card button {
    width: 100%;
    background-color: var(--color-neutral-30);
    box-shadow: 3px 4px 2px 2px rgba(0, 0, 0, .30);
    border: none;
    font-size: 20px;
    padding: .5em;
    border-radius: .5em;
    cursor: pointer;
}

.card button:hover {
    background-color: red;
    box-shadow: 3px 4px 8px 2px rgba(0, 0, 0, .30);
    transform: translateY(4px);
}

.emp{
    box-shadow: 1px 1px 10px var(--color-neutral-0);
    border-radius: 4px;
    width: 50%;
    margin-left: 25%;
    padding: 1.5rem;
}
.emp-img img{
    margin-left: 29%;
    width: 300px;
}
.emp p{
    margin-top: 1rem;
    font-weight: bold;
    text-align: justify;
}
.emp-img h3{
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}
footer {
    background-color: var(--color-neutral-10);
    padding: 50px 0;
}

iframe {
    height: 300px;
}

.container-footer {
    max-width: 1400px;
    margin: auto;
}

.row-footer {
    display: flex;
    flex-wrap: wrap;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 22px;
    color: var(--color-neutral-30);
    margin-bottom: 20px;
    position: relative;
    text-transform: uppercase;
    text-align: center;
}

.footer-col ul {
    list-style: none;
    display: grid;
}

.footer-col ul li {
    margin: 10px 0;
}

.footer-col ul a li {
    font-size: 16px;
    color: var(--color-neutral-40);
    font-weight: bold;
    text-decoration: none;
    transition: all .3s ease;
}

.footer-col ul a li:hover {
    color: var(--color-neutral-30);
    padding-left: 10px;
}

.footer-col ul a li i {
    font-size: 1.5rem;
}

.medias-sociais {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.medias-sociais a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-decoration: none;
    border-radius: 50%;
    color: var(--color-neutral-40);
    border: 1px solid var(--color-neutral-40);
    transition: all .5 ease;
}

.medias-sociais a i {
    font-size: 20px;
}

.medias-sociais a:hover {
    background-color: var(--color-neutral-30);
}

.footer-col .form-sub input {
    width: 100%;
    padding: 10px;
    font-size: 15px;
    outline: none;
    border: 1px solid var(--color-neutral-30);
    color: var(--color-neutral-0);
    background-color: var(--color-neutral-40);
    font-weight: 500;
}

.footer-col .form-sub input::placeholder {
    color: var(--color-neutral-10);
}

.footer-col .form-sub input[type=reset] {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    font-size: 17px;
    outline: none;
    border: none;
    cursor: pointer;
    color: var(--color-neutral-40);
    border-radius: 3px;
    font-weight: bold;
    background-color: var(--color-neutral-30);
}

hr {
    border-color: var(--color-neutral-30);
}

#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: var(--color-neutral-10);
    font-size: 0.9rem;
    padding: 1rem;
    font-weight: 100;
    margin-top: 1.5rem;
}

#footer_copyright .footer-link {
    margin: 5rem;
    text-decoration: none;
    color: var(--color-neutral-40);
}

@media (max-width: 800px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
        display: inline-grid;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 600px) {
    .footer-col {
        width: 100%;
    }
}